.headline {
  color: black;
  padding-bottom: 10px;
  border-bottom: 3px solid red;
}

.font1 {
  color: black;
  font-family: "Roboto", sans-serif;
}

.button {
  display: inline-block;
  padding: 0.75rem 2.5rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  text-align: center;
}

.button:hover {
  color: #fff;
  box-shadow: none;
}

.button:hover:before {
  width: 100%;
}

.button1:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 10rem;
  z-index: -2;
}

.button1:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgb(41, 39, 39);
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}

.button2 {
  display: inline-block;
  padding: 0.75rem 2.5rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
}

.button2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  border-radius: 10rem;
  z-index: -2;
}

.button2:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgb(226, 22, 22);
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}

.button2:hover {
  color: #fff;
  box-shadow: none;
}

.button2:hover:before {
  width: 100%;
}

.imageBox {
  box-shadow: 20px -20px 10px red;
  border-radius: 20px;
}

@media (max-width: 575.98px) {
  /* Center align navbar brand */
  .navbar-brand {
    margin: auto;
    text-align: center;
  }
  /* Center align buttons */
  .button {
    display: block;
    margin: 10px auto;
  }

  /* Adjust column widths and spacing for footer */
  .footer-column {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
  }
}

.background {
  background-color: red;
}

.link-no-underline {
  text-decoration: none; /* Remove underlines */
  color: black; /* Set text color to grey */
}

/* Add padding between columns */
.col-md:not(:last-child) {
  padding-right: 15px;
}

/* Ensure subline content comes in one single line
.list-unstyled li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

singleLine{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */

.social-links a.facebook-hover:hover i {
  color: #1877f2; /* Facebook blue color */
  transform: scale(1.6);
}

.social-links a.twitter-hover:hover i {
  color: #1da1f2; /* Twitter blue color */
  transform: scale(1.6);
}

.social-links a.instagram-hover:hover i {
  color: #e4405f; /* Instagram pink color */
  transform: scale(1.6);
}

.social-links a.linkedin-hover:hover i {
  color: #0077b5; /* LinkedIn blue color */
  transform: scale(1.6);
}
